{
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "rules": {
        "quotes": [2,"error", "single"]
    },

    "prettier/prettier":[
        "error",
        {
            "trailingComma": "es6",
            "singleQuote": true,
            "printWidth": 120
        }
    ]



}